### Configuration

In [5]:
import numpy as np
import matplotlib.pyplot as plt
import os
import pandas as pd

## Read Data

In [20]:
train_data = pd.read_csv('./dataset/application_train.csv')
# test_data = pd.read_csv('dataset/test.csv')

train_data.head(10)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,Cash loans,M,Y,Y,0,360000.0,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,Cash loans,F,N,Y,0,112500.0,1019610.0,33826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,Revolving loans,M,N,Y,0,135000.0,405000.0,20250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [14]:
train_data.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

In [16]:
train_data.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

## Exploratory Data Analysis

In [19]:
print(train_data['TARGET'].value_counts())
print(train_data['TARGET'].value_counts(normalize=True))

TARGET
0    282686
1     24825
Name: count, dtype: int64
TARGET
0    0.919271
1    0.080729
Name: proportion, dtype: float64

Berdasarkan data target diatas, kita bisa menyimpulkan bahwa data ini imbalance.

In [31]:
# Check missing values with percentage
missing_values = train_data.isnull().sum()
missing_values = missing_values[missing_values > 0].sort_values(ascending=False)
missing_percentage = (missing_values / len(train_data)) * 100
missing_data = pd.DataFrame({'Missing Values': missing_values, 'Percentage': missing_percentage})
missing_data.head(50)

                              Missing Values  Percentage
COMMONAREA_MEDI                       214865   69.872297
COMMONAREA_AVG                        214865   69.872297
COMMONAREA_MODE                       214865   69.872297
NONLIVINGAPARTMENTS_MEDI              213514   69.432963
NONLIVINGAPARTMENTS_MODE              213514   69.432963
NONLIVINGAPARTMENTS_AVG               213514   69.432963
FONDKAPREMONT_MODE                    210295   68.386172
LIVINGAPARTMENTS_MODE                 210199   68.354953
LIVINGAPARTMENTS_MEDI                 210199   68.354953
LIVINGAPARTMENTS_AVG                  210199   68.354953
FLOORSMIN_MODE                        208642   67.848630
FLOORSMIN_MEDI                        208642   67.848630
FLOORSMIN_AVG                         208642   67.848630
YEARS_BUILD_MODE                      204488   66.497784
YEARS_BUILD_MEDI                      204488   66.497784
YEARS_BUILD_AVG                       204488   66.497784
OWN_CAR_AGE                           202929   65.990810
LANDAREA_AVG                          182590   59.376738
LANDAREA_MEDI                         182590   59.376738
LANDAREA_MODE                         182590   59.376738
BASEMENTAREA_MEDI                     179943   58.515956
BASEMENTAREA_AVG                      179943   58.515956
BASEMENTAREA_MODE                     179943   58.515956
EXT_SOURCE_1                          173378   56.381073
NONLIVINGAREA_MEDI                    169682   55.179164
NONLIVINGAREA_MODE                    169682   55.179164
NONLIVINGAREA_AVG                     169682   55.179164
ELEVATORS_MEDI                        163891   53.295980
ELEVATORS_MODE                        163891   53.295980
ELEVATORS_AVG                         163891   53.295980
WALLSMATERIAL_MODE                    156341   50.840783
APARTMENTS_MODE                       156061   50.749729
APARTMENTS_MEDI                       156061   50.749729
APARTMENTS_AVG                        156061   50.749729
ENTRANCES_MODE                        154828   50.348768
ENTRANCES_AVG                         154828   50.348768
ENTRANCES_MEDI                        154828   50.348768
LIVINGAREA_MEDI                       154350   50.193326
LIVINGAREA_MODE                       154350   50.193326
LIVINGAREA_AVG                        154350   50.193326
HOUSETYPE_MODE                        154297   50.176091
FLOORSMAX_MEDI                        153020   49.760822
FLOORSMAX_AVG                         153020   49.760822
FLOORSMAX_MODE                        153020   49.760822
YEARS_BEGINEXPLUATATION_AVG           150007   48.781019
YEARS_BEGINEXPLUATATION_MEDI          150007   48.781019
YEARS_BEGINEXPLUATATION_MODE          150007   48.781019
TOTALAREA_MODE                        148431   48.268517
EMERGENCYSTATE_MODE                   145755   47.398304
OCCUPATION_TYPE                        96391   31.345545

Pada data ini, sangat ada banyak missing values hingga ~69% hampir 70% di banyak kolom.

In [32]:
# Column types
column_types = train_data.dtypes.value_counts()
column_types

float64    65
int64      41
object     16
Name: count, dtype: int64